.box {
    width: 100px;
    height: 100px;
    // background-color: theme-color("joyce");
}

// .box:hover {
//     background-color: theme-color-level(joyce, .2);
// }

@each $color, $value in $theme-colors {
    .box-#{$color} {
        background-color: $value;
        color: color-yiq($value);
        }
}
// @each $color,
// $value in $theme-colors {
//     .box-#{$color}:hover {
//         background-color: theme-color-level($value, 10);
//         color: color-yiq($value);
//     }
// }

